*{
    margin: 0;
    padding: 0;
    list-style: none;
}


nav{
    background-color: #a44c8b99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 60vh;
    font-size: 20px;
    padding-top: 1rem;
    
}

ul li a {
  text-decoration: none;   
  color: black;               
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #a44c8b99;
  padding: 5px 10px;
  display: block;
  transition: background-color .6s ease-in-out;
}

nav ul li:hover{
    cursor: pointer;
    background-color: #a44c8b99;
    transform: scale(1.1);
}

.hero{
    height: 91vh;
    background-color: #dc95a2;
    background-image: url(./images/bgImage.png);
    display: flex;
}

.hero .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    line-height: 4rem;
}

.hero .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left h1{
    color: #ad614d;
}

.hero .left h2{
    color: #2C2C54;
}

.hero .left h3{
    color: #6D597A;
}

.hero .right img{
    border-radius: 15px 50px;
    height: 300px ;
    width: 300px;
}

.socialMedia{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
   
}    

.socialMedia img{
    border-radius: 50%;
    height: 30px;
}    

.service{
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
    background-color: white;
    line-height: 2rem;
    gap: 1rem;
    padding-top: 4rem;
    
}

.service div{
    height: 16rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a44c8b99;
    color: rgb(5, 27, 20);
    border-radius: 25% 10%;
    transition: background-color .6s ease-in-out;
    
}

.service div h3{
    color: #622b1d;
}

.outerSiderService{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #ad614d;
    text-decoration: underline;
}

.typewriter {
  overflow: hidden;                    
  border-right: 0.15em solid rgb(215, 100, 140); 
  white-space: nowrap;                 
  width: 0;                            
  font-size: 2rem;
  animation: typing 4s steps(20) infinite; 
}

@keyframes typing {
  0%, 80% { width: 0; }     
  50%, 60% { width: 20ch; } 
  100% { width: 0; }  
}       

.service div:hover{
    cursor: pointer;
    background-color:#ab546a ;
}

#contact{
    background-image: url(./images/bgImage.png);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
}

.contactLeft{
    height: 100%;
    width: 25%;
}

.contactRight{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.contactForm{
    max-width: 40rem;
    width: 100%;
    background-color: #a44c8b99;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(222, 142, 200, 0.6);
}

label{
    display: block;
    font-weight:bold ;
    color: white;
    margin-bottom: .6rem;
}

input,textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-bottom: .5rem;
}

button{
    background-color: rgb(156, 136, 136);
    width: 5rem;
    height: 40px;
    border-radius: 0.5rem;
    color: rgb(241, 234, 234);
    cursor: pointer;
}

button:hover{
    background-color: #6D597A;
}

.contactLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactLeft p{
    color: #6D597A;
    font-weight: bold;
}