*{
    margin: 0;
    padding: 0;
    list-style: none;
}


nav{
    background-color: #dc95a2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 60vh;
    font-size: 20px;
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.hero{
    height: 91vh;
    background-color: #dc95a2;
    background-image: url(./images/background.jpg);
    display: flex;
}

.hero .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    line-height: 4rem;
}

.hero .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left h1{
    color: #ad614d;
}

.hero .left h2{
    color: #2C2C54;
}

.hero .left h3{
    color: #6D597A;
}

.hero .right img{
    border-radius: 15px 50px;
    height: 300px ;
    width: 300px;
}

.socialMedia{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
   
}    

.socialMedia img{
    border-radius: 50%;
    height: 30px;
}    

.service{
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
    background-color: white;
    line-height: 2rem;
    gap: 1rem;
    padding-top: 4rem;
    
}

.service div{
    height: 16rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ac6476;
    color: rgb(5, 27, 20);
    border-radius: 25% 10%;
    
}

.service div h3{
    color: #622b1d;
}

.outerSiderService{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #ad614d;
    text-decoration: underline;
}

.typewriter {
  overflow: hidden;                    
  border-right: 0.15em solid rgb(215, 100, 140); 
  white-space: nowrap;                 
  width: 0;                            
  font-size: 2rem;
  animation: typing 4s steps(20) infinite; 
}

@keyframes typing {
  0%, 80% { width: 0; }     
  50%, 60% { width: 20ch; } 
  100% { width: 0; }  
}       

.service div:hover{
    cursor: pointer;
    background-color:#ab546a ;
}

